:root {
  --gray: #f0f2f5;
  --icon-gray: rgb(84, 101, 111);
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-y: hidden;
}

h1 {
  font-family: monospace;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}

i.icon {
  cursor: pointer;
  color: var(--icon-gray);
}

#left-bar {
  background-color: var(--gray);
  width: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 20px;
  justify-content: space-between;
}

#left-bar .left-top-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#left-bar i.icon:not(:first-child) {
  margin-top: 45px;
}

#left {
  width: 33%;
}

header.chats-header {
  padding-bottom: 10px;
  border-bottom: var(--gray) 1px solid;
}

#topbar {
  height: 25px;
  padding: 20px 30px 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-icons {
  width: 60px;
  display: flex;
  justify-content: space-between;
}

.search-filter {
  position: relative;
}

.search-filter .icon:first-child {
  position: absolute;
  top: 11px;
  left: 28px;
  font-size: 14px;
}

.chats-header .search-filter input {
  width: 75%;
  margin: 0 5px 0 15px;
  height: 35px;
  font-size: 13px;
  background-color: var(--gray);
  border: none;
  border-radius: 10px;
  padding: 0 0 0 60px;
}

.chats-header .search-filter input:focus {
  outline: none;
}

#chats {
  height: 85vh;
  overflow-y: auto;
}

#chats .chat-item {
  display: flex;
  padding: 5px;
  position: relative;
  border-bottom: 1px var(--gray) solid;
}

#chats .chat-item:hover {
  background-color: var(--gray);
  cursor: pointer;
  transition: 0.1s;
}

#chats .chat-item .no-profile {
  width: 65px;
  height: 65px;
}

#chats .chat-item .texts {
  margin: 13px 0 0 5px;
}

#chats .chat-item .texts p {
  margin-top: 1px;
}

#chats .chat-item .message-date {
  position: absolute;
  right: 20px;
  top: 18px;
}

#right {
  width: 63%;
  background-color: var(--gray);
  background-image: url("./img/default-image.png");
  background-repeat: no-repeat;
  background-size: 400px 350px;
  background-position: center;
}

.chat-dropdown {
  background-color: white;
  color: var(--icon-gray);
  position: absolute;
  top: 94px;
  left: 524px;
  padding: 15px 0;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  display: none;
}

.chat-dropdown h3 {
  margin: 0 0 6px 20px;
}

.chat-dropdown ul li {
  list-style-type: none;
  cursor: pointer;
  padding: 8px 25px;
}

.chat-dropdown ul li:hover {
  transition: 0.1s;
  background-color: var(--gray);
}

.chat-dropdown-visible {
  display: block;
}
