:root {
  --gray: #f0f2f5;
  --icon-gray: rgb(84, 101, 111);
}

* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  height: 98vh;
}

i.icon {
  cursor: pointer;
  color: var(--icon-gray);
}

#left-bar {
  background-color: var(--gray);
  width: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  justify-content: space-between;
}

#left-bar .left-top-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#left-bar i.icon:not(:first-child) {
  margin-top: 45px;
}

#left {
  width: 33%;
}

header.chats-header {
  padding-bottom: 10px;
  border-bottom: var(--gray) 1px solid;
}

#topbar {
  height: 25px;
  padding: 20px 30px 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-icons {
  width: 60px;
  display: flex;
  justify-content: space-between;
}

.search-filter {
  position: relative;
}

.search-filter .icon:first-child {
  position: absolute;
  top: 11px;
  left: 28px;
  font-size: 14px;
}

.chats-header .search-filter input {
  width: 75%;
  margin: 0 5px 0 15px;
  height: 35px;
  font-size: 13px;
  background-color: var(--gray);
  border: none;
  border-radius: 10px;
  padding: 0 0 0 60px;
}

.chats-header .search-filter input:focus {
  outline: none;
}

#right {
  width: 63%;
  height: 100vh;
  background-color: var(--gray);
}
