:root {
  --gray: #f0f2f5;
  --icon-gray: rgb(84, 101, 111);
}

* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}

#left {
  width: 30%;
  height: 100vh;
}

#topbar {
  background-color: var(--gray);
  height: 25px;
  padding: 20px 30px 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-icon .icon {
  color: gray;
  font-size: 38px !important;
}

i.icon {
  cursor: pointer;
}

.primary-icons {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.primary-icons .icon {
  color: var(--icon-gray);
}

#right {
  width: 70%;
  height: 100vh;
  background-color: green;
}
